<div class="advertiser-form-wrapper">
    <div class="row">
        <div class="col-md-12">
            <form name="advertiserForm" novalidate>
                <div class="form-group">
                    <label for="name">* Name</label>
                    <input name="name" ng-minlength="3" ng-model="advertiser.name"  type="text" class="form-control" id="name" placeholder="Advertiser Name" required>
                    <div class="errors-container" ng-if="advertiserForm.name.$touched" ng-messages="advertiserForm.name.$error">
                        <p class="help-block" ng-message="minlength">Your name is too short.</p>
                        <p class="help-block" ng-message="required">Advertiser name is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">* Description</label>
                    <textarea  rows="12" name="description"  ng-model="advertiser.description" type="text" class="form-control" id="description" placeholder="Advertiser Description" required> </textarea>
                    <div class="errors-container" ng-if="advertiserForm.description.$touched" ng-messages="advertiserForm.description.$error">
                        <p class="help-block" ng-message="required">Advertiser description is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Link</label>
                    <input  name="link" ng-model="advertiser.link" type="url" class="form-control" id="link" placeholder="Advertiser Link">
                    <div class="errors-container" ng-if="advertiserForm.link.$touched" ng-messages="advertiserForm.link.$error">
                        <p class="help-block" ng-message="url">Please insert valid url </p>
                    </div>
                </div>
                <div class="form-group">
                    <button ng-disabled="advertiserForm.$invalid" type="submit" class="btn btn-danger">Submit</button>
                </div>

            </form>
        </div>

    </div>
</div>